@model IEnumerable<GymApp.Models.Availability>

<p>
    <a asp-action="Create">  Create New Availability</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AvailableFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trainer.Id)
            </td>
            <td>
                <a asp-controller="Availabilities" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="Availabilities" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-controller="Availabilities"  asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
