@model GymApp.Models.Availability

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Availability</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trainer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trainer.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-controller="Trainers" asp-action="Dashboard" asp-route-id="@Model?.Trainer.Id">Back to Dashboard</a>

</div>
